@page "/"
@using System.Text.Json
@using System.Text.Json.Serialization
@using Clash.Domain.Models;
@inject IHttpClientFactory ClientFactory
@inject HttpClient HttpClient

<PageTitle>Home</PageTitle>

<h1>HomePage</h1>


<section>
    <div>
        Search a Profile
        <input type="text" placeholder="Search.." value="@input">
        <button type="button" @onclick="@UpdateInput"/>

        @if(Players != null){
            @Players.Name;
            @Players.Tag;
            @Players.TownHallLevel;
        }
         
       
    </div>
</section>

@code {
    Player Players;
    private string _input = "";
    private string input = "";
    private async Task UpdateInput()
    {
        _input = input;
        await Play(_input);
    }

    protected override void OnInitialized()
    {
    }
    public async Task Play(string playerTag)
    {
        //Nog meegeven uit zoekbalk en dan deze methode aanroepen?
        Players = await HttpClient.GetFromJsonAsync<Player>("players/" + playerTag);

    }
}



